<main class="main index-page">
    <% page.posts.each(function (_post) { %>
    <% let truncateLength = theme.truncate_length || 300; %>
    <% let _content = truncate(strip_html(_post.content), {length: truncateLength, omission: '...'}) %>
        <article class="index-post">
            <a class="abstract-title" href = "<%- url_for(_post.path) %>" >
                <% if(_post.top) { %>
                    <span class="stick-top iconfont-archer">&#xe63d;</span>
                    <% } %>
                    <span><%= _post.title || '[Untitled Post]' %></span>
            </a>
            <a class="content-show-full" href = "<%- url_for(_post.path) %>" >
                <div class="abstract-content">
                    <%- _content %>
                </div>
            </a>
            <div class="abstract-post-meta">
                <!-- tags  -->
                <% if(_post.tags.length) { %>
                <%- partial('./_partial/base-title-tags', {
                    currPost :_post,
                    className : 'abstract-tags'}) %>
                <% } %>
                <!-- date  -->
                <div class="abstract-date">
                    <span class="abstract-calander iconfont-archer"></span><span class="abstract-time"><%- date(_post.date, "YYYY/MM/DD") %></span>
                </div>
            </div>
        </article>
    <% }) %>
    <!-- paginator  -->
    <% if (page.total > 1){ %>
    <nav class="page-nav">
        <%- paginator({
        prev_text: '#PREV',
        next_text: '#NEXT'
        }) %>
    </nav>
    <% } %>
</main>