<!DOCTYPE html>
<html>
  <%- partial('_partial/base-head') %>
  <body>
    <div class="container">
      <%- partial('_partial/base-header') %>
      <% if (is_home()) { %>
      <%- partial('_partial/base-profile') %>
      <% } %>
      <%- body %>
    <%- partial('_partial/base-footer') %>
    </div>
  </body>
</html>