<!DOCTYPE html>
<html>
    <%- partial('_partial/base-head') %>
    <% if (is_home()) { %>
        <body class="home-body">
    <% } else if(is_post()){ %>
        <body class="post-body">
    <% } else { %>
        <body class="else-body">
    <% } %>
    <%- partial('_partial/base-sidebar') %>
    <%- partial('_partial/base-header') %>
    <% if(is_post()) { %>
    <%- toc(page.content) %>
    <% } %>
    <div class="wrapper">
        <%- partial('_partial/base-background-image') %>
        <div class="container">
            <% if (is_home()) { %>
            <%- partial('_partial/base-profile') %>
            <% } %>
            <%- body %>
        </div>
        <%- partial('_partial/base-footer') %>
    </div>
    <div class="back-top">&#xe639;</div>
    <%- partial('./js-info.ejs') %>
<script id="__bs_script__">
  //<![CDATA[
  document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
//]]>
</script></body>
</html>


