<!DOCTYPE html>
<html>
  <%- partial('_partial/base-profile') %>
  <%- partial('_partial/base-head') %>
  <body>
    <div class="container">
      <%- partial('_partial/base-header') %>
      <main class="main">
        <%- body %>
      </main>
    </div>
  </body>
  <%- partial('_partial/base-footer') %>
</html>