<!DOCTYPE html>
<html lang="<%- config.language %>">
    <%- partial('_partial/base-head') %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script type="text/javascript">
        if (typeof window.$ == undefined) {
            console.warn('jquery load from jsdelivr failed, will load local script')
            document.write('<script src="<%- url_for('lib/jquery.min.js') %>" />')
        }
    </script>
    <%_ if (is_home()) { _%>
        <body class="home-body">
    <%_ } else if(is_post()){ _%>
        <body class="post-body">
    <%_ } else if(page.layout === "404") { _%>
        <body class="four-zero-four-body">
    <%_ } else if(page.layout === "about") { _%>
        <body class="about-body">
    <%_ } _%>
        <!-- header -->
        <%- partial('_partial/base-header') %>
        <!-- fixed footer -->
        <%- partial('_partial/base-footer-fixed') %>
        <!-- wrapper -->
        <div class="wrapper">
            <%- partial('_partial/base-background-image') %>
            <%- partial('_partial/script/font-loader') %>
            <img class="loading" src="<%- url_for('assets/loading.svg') %>" style="display: block; margin: 6rem auto 0 auto; width: 6rem; height: 6rem;" alt="loading">
            <div class="container container-unloaded">
                <%- body %>
                <!-- profile -->
                <%_ if (is_home()) { _%>
                    <%- partial('_partial/base-profile') %>
                <%_ } _%>
            </div>
            <%- partial('_partial/base-footer', {}, {cache: true}) %>
        </div>
        <!-- toc -->
        <%_ if(is_post() && (page.toc || (theme.toc && page.toc !== false))) { _%>
            <div class="toc-wrapper toc-wrapper-loding" style=<%- partial('_partial/intro-height', {attr: 'top'}) %>>
                <div class="toc-catalog">
                    <span class="iconfont-archer catalog-icon">&#xe613;</span><span>CATALOG</span>
                </div>
                <%- toc(page.content, {class: 'toc', list_number: true}) %>
            </div>
        <%_ } _%>
        <!-- sidebar -->
        <%- partial('_partial/sidebar/base-sidebar', {}, {cache: true}) %>
        <!-- site-meta -->
        <%- partial('./site-meta.ejs') %>
        <!-- import experimental options here -->
        <%- partial('_partial/custom-font', {}, {cache: true}) %>
        <!-- main func -->
        <script src="<%- url_for('scripts/main.js') %>"></script>
        <!-- fancybox -->
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0.36/dist/fancybox/fancybox.umd.js" onload="window.Fancybox.bind('[data-fancybox]')" defer></script>
        <!-- algolia -->
        <%_ if (theme.algolia_search.enable) { _%>
            <%- partial('_partial/algolia') %>
            <script src="<%- url_for('scripts/search.js') %>" async></script>
        <%_ } _%>
        <!-- busuanzi -->
        <%_ if (theme.busuanzi) { _%>
            <script src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js" async></script>
        <%_ } _%>
        <!-- async load share.js -->
        <%_ if (is_post()) { _%>
            <script src="<%- url_for('scripts/share.js') %>" async></script>
        <%_ } _%>
        <!-- mermaid -->
        <%_ if (is_post() && theme.mermaid.enable) { _%>
            <script src='https://cdn.jsdelivr.net/npm/mermaid@<%= theme.mermaid.version %>/dist/mermaid.min.js' onload="window.mermaid.initialize({theme: '<%= theme.mermaid.theme %>'})" async></script>
        <%_ } _%>
    </body>
</html>
