<main class="main post-page">
    <article class="article-entry">
        <%- page.content %>
    </article>
    <!-- 前后页  -->
    <ul class="post-paginator">
        <li class="next">
            <% if (page.prev){ %>
                <div class="nextSlogan">Next Post</div>
                <a href= "<%- url_for(page.prev.path) %>" title= <%- page.prev.title %> >
                    <div class="nextTitle"><%- page.prev.title || '[Untitled Post]' %></div>
                </a>
            <% } %>
        </li>
        <li class="previous">
            <% if (page.next){ %>
                <div class="prevSlogan">Previous Post</div>
                <a href= "<%- url_for(page.next.path) %>" title= <%- page.next.title %> >
                    <div class="prevTitle"><%- page.next.title || '[Untitled Post]' %></div>
                </a>
            <% } %>
        </li>
    </ul>
    <!-- 评论插件 -->
    <%- partial('_partial/comment/livere') %>
    <%- partial('_partial/comment/disqus') %>
    <%- partial('_partial/comment/gitment') %>
    <%- partial('_partial/comment/changyan') %>
    <%- partial('_partial/comment/youyan') %>
    <%- partial('_partial/comment/custom') %>
    <!-- 评论 -->
</main>