<main class="main post-page">
    <%- partial('_partial/base-qr-box') %>
    <article class="article-entry">
        <%- page.content %>
    </article>
    <!-- 前后页  -->
    <ul class="post-pager">
        <% if (page.prev){ %>
            <li class="previous">
                <a href= "<%- url_for(page.prev.path) %>" title= <%- page.prev.title %> >
                    <span>Previous Post</span>
                    <span><%- page.prev.title || '[Untitled Post]' %></span>
                </a>
            </li>
        <% } %>
        <% if (page.next){ %>
            <li class="next">
                <a href= "<%- url_for(page.next.path) %>" title= <%- page.next.title %> >
                    <span>Next Post</span>
                    <span><%- page.next.title || '[Untitled Post]' %></span>
                </a>
            </li>
        <% } %>
    </ul>
    <%- partial('_partial/comment/livere') %>
</main>