<%_ if (theme.comment.gitment_owner && theme.comment.gitment_repo && theme.comment.gitment_client_id && theme.comment.gitment_client_secret) { _%>
    <div id="gitment-container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: '<%- page.date %>', // 可选。默认为 location.href
            owner: '<%- theme.comment.gitment_owner %>',
            repo: '<%- theme.comment.gitment_repo %>',
            oauth: {
                client_id: '<%- theme.comment.gitment_client_id %>',
                client_secret: '<%- theme.comment.gitment_client_secret %>',
            },
        })
        gitment.render('gitment-container')
    </script>
<%_ } _%>
