<article class="post">
    <% if (_hasTimeline) { %>
        <%- partial('_partial/base-timeline', {
            _page: _page
        }) %>
    <% } %>
    <div class="post-content-box">
        <div class="timeline-arrow"></div>
        <div class="post-title">
            <h2 class="title">
            <% if(_isTitleWithLink) { %>
            <a class="post-title-link" href="<%- url_for(_page.path) %>">
            <% } %>
            <%= _page.title %>
            <% if(_isTitleWithLink) { %>
            </a>
            <% } %>
            </h2>
        </div>
        <% if(_hasPostTime) { %>
        <div class="post-meta">
            <span class="post-time"><%- date(_page.date, "YYYY-MM-DD") %></span>
        </div>
        <% } %>
        <%- partial('base-title-tags', {currPost :_page}) %>
            <div class="post-content">
                <%- _content %>
            </div>
    </div>
</article>
