<div class="site-intro">
    <% var bgURL; %>
    <!-- 主页  -->
    <% if (is_home()) { %>
    <% bgURL = theme.site_header_image; %>
    <!-- 文章页  -->
    <% } else if (is_post()) { %>
    <% bgURL = page.header_image || theme.post_header_image || theme.site_header_image; %>
    <!-- 404页  -->
    <% } else if (page.layout === "404") { %>
    <% bgURL = theme._404_image || theme.site_header_image; %>
    <!-- about页 -->
    <% } else if (page.layout === "about") { %>
    <% bgURL = theme.about.image || theme.site_header_image; %>
    <% } %>        
    <div class="site-intro-img" style="background-image: url(<%- url_for(bgURL) %>)"></div>
    <div class="site-intro-placeholder"></div>
    <div class="site-intro-meta">
        <!-- 标题  -->
        <h1 class="intro-title">
            <!-- 主页  -->
            <% if (is_home()) { %>
            <%- theme.main_title || config.title%>
            <!-- 文章页  -->
            <% } else if(is_post()) { %>
            <%- truncate(strip_html(page.title), {length: 80, omission: '...'}) || '[Untitled Post]' %>
            <!-- 404 -->
            <% } else if(page.layout === "404") { %>
            <%- page.title || '[404]'%>
            <!-- about -->
            <% } else if(page.layout === "about" ) { %>
            <%- page.title || 'About' %>
            <% } %>
        </h1>
        <!-- 副标题 -->
        <p class="intro-subtitle">
            <!-- 主页副标题  -->
            <% if (is_home()) { %>
            <% if(typeof theme.subtitle === 'string') { %>
                <%- theme.subtitle %>
            <% } %>
            <!-- 文章页  -->
            <% } else if (is_post()) { %>
            <% if(typeof page.subtitle === 'string') { %>
                <%- page.subtitle %>
            <% } %>
            <!-- 404 -->
            <% } else if (page.layout === "404") { %>
                <%- page.description %>
            <% } %>
        </p>
        <!-- 文章页meta -->
        <% if(is_post()) { %>
            <!-- 文章页标签  -->
            <% if(page.tags.length) { %>
                <%- partial('base-title-tags', {
                    currPost: page,
                    className: 'post-intro-tags'}) %>
            <% } %>
            <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
            <div class="post-intro-meta">
                <span class="post-intro-calander iconfont-archer">&#xe676;</span>
                <span class="post-intro-time"><%- date(page.date, "YYYY/MM/DD") %></span>
                <span id="busuanzi_container_page_pv" class="busuanzi-pv">
                    <span class="iconfont-archer">&#xe604;</span>
                    <span id="busuanzi_value_page_pv"></span>
                </span>
                <span class="shareWrapper">
                    <span class="iconfont-archer shareIcon">
                        &#xe601;
                    </span>
                    <span class="bdsharebuttonbox">
                        <a href="#" class="bds_more shareText" data-cmd="more">Share</a>
                    </span>
                </span>
            </div>
        <% } %>
    </div>
</div>