<header class="header">
    <div class="blog-titles">
      <a href="<%- url_for() %>" class="blog-title">
        <%= config.title %>
      </a>
      <div class="blog-subtitle">
        <%= config.subtitle %>
      </div>
    </div>
  <nav class="navbar">
    <ul class="menu">
      <% for (name in theme.menu) { %>
        <% let imgSrc = "/header/" + name + ".svg"; %>
        <li class="menu-item">
          <img src= <%- imgSrc %> >
          <% if (name != "About") { %>
          <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link">
            <%= name %> 
          </a>
          <% } else { %>
          <a href="#" class="menu-item-link"> 
            <%= name %>
          </a>
          <% } %> 
        </li>
        <% } %>
    </ul>
  </nav>
</header>