<% if(is_home()) { %>
<header class="header index-header">
<% } else { %>
<header class="header">
<% } %>
  <div class="menu-button">
    <div class="menu-box">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="banner">
    <nav class="navbar">
      <ul class="menu">
        <% for (name in theme.menu) { %>
          <% let imgSrc = "/header/" + name + ".svg"; %>
          <li class="menu-item">
            <% if (name != "About") { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link <%- name %>">
              <%= name %> 
            </a>
            <% } else { %>
            <a href="#" class="menu-item-link <%- name %>"> 
              <%= name %>
            </a>
            <% } %> 
          </li>
          <% } %>
      </ul>
    </nav>
    <div class="site-post-banner">
      <div class="blog-titles">
        <% if (is_home()) { %>
        <img class="header-avatar" src= <%- theme.avatar %> >
        <% } %>
        <a href="<%- url_for() %>" class="blog-title">
          <%= config.title %>
        </a>
      </div>
      <% if (is_post()) { %>
      <div class="post-banner">
        <div class="post-name">
          <%- page.title %>
        </div>
      </div>
      <% } %>
    </div>
  </div>

</header>