<div class="profile<%- theme.profile_sticky ? ' profile-sticky' : '' %>">
    <img class="profile-avatar<%- theme.avatar_border ? '' : ' hide-border' %>" alt="avatar" src= <%- url_for(theme.avatar) %> />
    <div class="profile-name"><%- theme.author || config.author %></div>
    <% if(theme.signature && theme.signature.length !== 0) { %>
        <div class="profile-signature">
            <%= theme.signature %>
        </div>
    <% } %>
    <% if(theme.social) { %>
        <div class="profile-social">
            <%- partial('base-social') %>
        </div>
    <% } %>
    <% if(theme.friends) { %>
        <div class="friends">
            <div>
                <% if(theme.profile_icons && !!theme.profile_icons.enable && theme.profile_icons.friends) { %>
                    <i class="<%- theme.profile_icons.friends %> profile-item-icon"></i>
                <% } %>
                FRIENDS
            </div>
            <% for (name in theme.friends) { %>
                <% if(theme.friends[name]) { %>
                    <span>
                        <a href="<%- theme.friends[name] %>" target="_blank"><%- name %></a>
                    </span>
                <% } %>
            <% } %>
        </div>
    <% } %>
    <% if(theme.about.enable) { %>
        <div class="profile-link-item">
            <a href="<%- url_for("/about") %>" class="about-me">
                <% if(theme.profile_icons && !!theme.profile_icons.enable && theme.profile_icons.about) { %>
                    <i class="<%- theme.profile_icons.about %> profile-item-icon"></i>
                <% } %>
                ABOUT ME
            </a>
        </div>
    <% } %>
    <% if(theme.search.enable && theme.search.url) { %>
        <% var baseSearchMeUrl %>
        <% switch (theme.search.engine) {
            case 'google': %>
                <% baseSearchMeUrl = 'https://www.google.com/search?q=site%3A' %>
                <% break
            case 'baidu': %>
                <% baseSearchMeUrl = 'https://www.baidu.com/s?wd=site%3A' %>
                <% break
            default: %>
                <% baseSearchMeUrl = 'https://www.bing.com/search?q=site%3A' %>
        <% } %>
        <div class="profile-link-item">
            <a href="<%- baseSearchMeUrl + theme.search.url %>" class="search-me">
                <% if(theme.profile_icons && !!theme.profile_icons.enable && theme.profile_icons.search) { %>
                    <i class="<%- theme.profile_icons.search %> profile-item-icon"></i>
                <% } %>
                SEARCH
            </a>
        </div>
    <% } %>
    <% if(theme.profile_links) { %>
        <% theme.profile_links.forEach((_link) => { %>
            <div class="profile-link-item">
                <a href="<%- _link.url %>" class="profile-link-<%- _link.name %>">
                    <% if(_link.icon) { %>
                        <i class="<%- _link.icon %> profile-item-icon"></i>
                    <% } %>
                    <%- _link.name %>
                </a>
            </div>
        <% }) %>
    <% } %>
</div>
