<!-- title -->
<% var title = "" %>
<% if (page.title) { %>
    <% title = page.title + ' · ' + theme.SEO_title || config.title %>
<% } else { %>
    <% title = theme.SEO_title %>
<% } %>
<!-- keywords -->
<% var keywords = "" %>
<% var keywordsArr = [page.keywords, theme.SEO_keywords] %>
<% var keywords = keywordsArr.filter(function(item){ return item }).join(',') %>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="<%- config.author %>">
    <meta name="renderer" content="webkit">
    <meta name="copyright" content="<%- config.author %>">
    <% if (keywords) { %>
        <meta name="keywords" content="<%- keywords %>">
    <% } else { %>
        <meta name="keywords" content="<%- config.title %>,<%- config.author %>">
    <% } %>
    <meta name="description" content="<%- config.description %>">
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
    <% if (theme.feed != undefined) { %>
        <link rel="alternate" href="<%= url_for(theme.feed.path) %>" title="<%= theme.main_title %>" type="application/atom+xml">
    <% } %>
    <title><%= title %></title>
    <%- partial('base-preload-polyfill') %>
    <%- partial('critical-css/critical-style') %>
    <link rel="preload" href="<%- url_for("css/style.css") %>?v=<%- theme.source_version %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="<%- url_for("css/dark.css") %>?v=<%- theme.source_version %>" as="style">
    <link rel="stylesheet" href="<%- url_for("css/dark.css") %>">
    <link rel="stylesheet" href="<%- url_for("css/mobile.css") %>?v=<%- theme.source_version %>" media="(max-width: 960px)">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" as="script">
    <link rel="preload" href="<%- url_for('scripts/main.js') %>?v=<%- theme.source_version %>" as="script">
    <link rel="preload" href="<%- url_for('scripts/dark.js') %>?v=<%- theme.source_version %>" as="script">
    <link rel="preload" href="<%- url_for('font/Oswald-Regular.ttf') %>" as="font" crossorigin>
    <link rel="preload" href="https://at.alicdn.com/t/font_327081_1dta1rlogw17zaor.woff" as="font" crossorigin>
    <!-- algolia -->
    <% if (theme.algolia_search != undefined && theme.algolia_search.enable) { %>
        <script>
            var hits = JSON.parse('<%- JSON.stringify(theme.algolia_search.hits) %>')
            var labels = JSON.parse('<%- JSON.stringify(theme.algolia_search.labels) %>')

            var algolia = {
                applicationID: '<%- config.algolia.applicationID %>',
                apiKey: '<%- config.algolia.apiKey %>',
                indexName: '<%- config.algolia.indexName %>',
                hits: hits,
                labels: labels
            }
        </script>
    <% } %>
    <!-- 百度统计  -->
    <% if(theme.baidu_analytics) { %>
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?<%= theme.baidu_analytics %>";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <% } %>
    <!-- Google tag (gtag.js) -->
    <% if (theme.google_analytics) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%- theme.google_analytics %>"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%- theme.google_analytics %>');
        </script>
    <% } %>

</head>
