<div class="site-background">
    <% let bgURL = page.headerImage || theme.headerImage; %>
    <div class="site-background-img" style="background-image: url(<%- bgURL %>)"></div>
    <div class="site-background-placeholder"></div>
    <div class="site-background-meta">
    <!-- 标题  -->
        <h1 class="bg-title">
        <!-- 主页  -->
            <% if (is_home()) { %>
            <%- config.title %>
            <!-- 文章页  -->
            <% } else { %>
            <%- page.title || '[404]' %>
            <% } %>
        </h1>
    <!-- 副标题 -->
        <!-- 主页副标题  -->
        <% if (is_home()) { %>
            <% if(typeof config.subtitle === 'string') { %>
            <p class="bg-subtitle">
                <%- config.subtitle %>
            </p>
            <% } %>
        <!-- 文章页  -->
        <% } else if (is_post()) { %>
            <% if(typeof page.subtitle === 'string') { %>
            <p class="bg-subtitle">
                <%- page.subtitle %>
            </p>
            <% } %>
        <!-- 404 -->
        <% } else { %>
            <p class="bg-subtitle">May the Force be with you :)</p>
        <% } %>
    <!-- 文章页meta -->
        <!-- 文章页标签  -->
        <% if(is_post()) { %>
            <% if(page.tags.length) { %>
                <%- partial('base-title-tags', {
                    currPost: page,
                    className: 'bg-post-tags'}) %>
            <% } %>
            <div class="bg-post-date">
                <span class="bg-post-calander iconfont-archer">&#xe676;</span><span class="bg-post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
            </div>
            <!-- <%- partial('base-share') %> -->
        <% } %>
    </div>
</div>