<div class= <%- className %> >
    <% if (theme.show_categories && currPost.categories.length) { %>
        <% let postCategory = '' %>
        <% currPost.categories.forEach((c) => { %>
            <% postCategory += `${c.name}/` %>
        <% }) %>
        <% postCategory = postCategory.slice(0, -1) %>
        <span class="post-category" data-categories="<%- postCategory %>"">
            <i class="fas fa-folder post-category-icon"></i>
            <span class="post-category-text">
                <%- postCategory %>
            </span>
        </span>
    <% } %>
    <% currPost.tags.forEach(function (tag, i) { %>
        <a class="post-tag" href="javascript:void(0);" data-tags="<%- tag.name %>"><%- tag.name %></a>
    <% }) %>
</div>
