<div class="site-intro">
    <% if(is_post() || is_home()) { %>
    <% var bgURL = page.header_image || theme.header_image; %>
    <% } else { %>
    <% var bgURL = theme._404_image || theme.header_image; %>
    <% } %>
    <div class="site-intro-img" style="background-image: url(<%- bgURL %>)"></div>
    <div class="site-intro-placeholder"></div>
    <div class="site-intro-meta">
        <!-- 标题  -->
        <h1 class="intro-title">
            <!-- 主页  -->
            <% if (is_home()) { %>
            <%- theme.main_title || config.title%>
            <!-- 文章页  -->
            <% } else if(is_post()) { %>
            <%- truncate(strip_html(page.title), {length: 60, omission: '...'}) || '[Untitled Post]' %>
            <% } else {%>
            [404]
            <% } %>
        </h1>
        <!-- 副标题 -->
        <p class="intro-subtitle">
            <!-- 主页副标题  -->
            <% if (is_home()) { %>
            <% if(typeof theme.subtitle === 'string') { %>
                <%- theme.subtitle %>
            <% } %>
            <!-- 文章页  -->
            <% } else if (is_post()) { %>
            <% if(typeof page.subtitle === 'string') { %>
                <%- page.subtitle %>
            <% } %>
        </p>
        <!-- 404 -->
        <% } else { %>
            <p class="intro-subtitle">May the Force be with you :&#41;</p>
        <% } %>
        <!-- 文章页meta -->
        <% if(is_post()) { %>
            <!-- 文章页标签  -->
            <% if(page.tags.length) { %>
                <%- partial('base-title-tags', {
                    currPost: page,
                    className: 'post-intro-tags'}) %>
            <% } %>
            <div class="post-intro-meta">
                <span class="post-intro-calander iconfont-archer">&#xe676;</span>
                <span class="post-intro-time"><%- date(page.date, "YYYY/MM/DD") %></span>
            </div>
            <!-- <%- partial('base-share') %> -->
        <% } %>
    </div>
</div>