<div class="site-intro" style="<%- partial('intro-height', {attr: 'height'}) %>">
    <% var bgURL; %>
    <!-- 主页  -->
    <% if (is_home()) { %>
        <% bgURL = theme.site_header_image; %>
    <!-- 文章页  -->
    <% } else if (is_post()) { %>
        <% bgURL = page.header_image || theme.post_header_image || theme.site_header_image; %>
    <!-- 404页  -->
    <% } else if (page.layout === "404") { %>
        <% bgURL = theme._404_image || theme.site_header_image; %>
    <!-- about页 -->
    <% } else if (page.layout === "about") { %>
        <% bgURL = theme.about.image || theme.site_header_image; %>
    <% } %>
    <div class="site-intro-placeholder"></div>
    <div class="site-intro-img" style="background-image: url(<%- url_for(bgURL) %>)"></div>
    <div class="site-intro-meta">
        <!-- 标题  -->
        <h1 class="intro-title">
            <!-- 主页  -->
            <% if (is_home()) { %>
                <%- theme.main_title || config.title %>
            <!-- 文章页  -->
            <% } else if(is_post()) { %>
                <%- truncate(strip_html(page.title), {length: 80, omission: '...'}) || '[Untitled Post]' %>
            <!-- 404 -->
            <% } else if(page.layout === "404") { %>
                <%- page.title || '[404]'%>
            <!-- about -->
            <% } else if(page.layout === "about" ) { %>
                <%- page.title || 'About' %>
            <% } %>
        </h1>
        <!-- 副标题 -->
        <p class="intro-subtitle">
            <!-- 主页副标题  -->
            <% if (is_home()) { %>
                <% if(typeof theme.subtitle === 'string') { %>
                    <%- theme.subtitle %>
                <% } %>
            <!-- 文章页  -->
            <% } else if (is_post()) { %>
                <% if(typeof page.subtitle === 'string') { %>
                    <%- page.subtitle %>
                <% } %>
            <!-- 404 -->
            <% } else if (page.layout === "404") { %>
                <%- page.description %>
            <% } %>
        </p>
        <!-- 文章页 meta -->
        <% if(is_post()) { %>
            <div class="post-intros">
                <!-- 文章页标签  -->
                <% if(page.tags.length || page.categories) { %>
                    <%- partial('base-title-tags', {
                        currPost: page,
                        className: 'post-intro-tags'}) %>
                <% } %>
                <!-- 文章字数统计 -->
                <% if(theme.reading_info) { %>
                    <div class="post-intro-read">
                        <span><%- __('word_count') %>: <span class="post-count word-count"><%= wordcount(page.content) %></span><%= __('reading_time') %>: <span class="post-count reading-time"><%= min2read(page.content) %> min</span></span>
                    </div>
                <% } %>
                <div class="post-intro-meta">
                    <!-- 撰写日期 -->
                    <span class="iconfont-archer post-intro-calander">&#xe676;</span>
                    <span class="post-intro-time"><%- date(page.date, "YYYY/MM/DD") %></span>
                    <!-- busuanzi -->
                    <% if (theme.busuanzi) { %>
                        <span id="busuanzi_container_page_pv" class="busuanzi-pv">
                            <span class="iconfont-archer post-intro-busuanzi">&#xe602;</span>
                            <span id="busuanzi_value_page_pv"></span>
                        </span>
                    <% } %>
                    <!-- 文章分享 -->
                    <span class="share-wrapper">
                        <span class="iconfont-archer share-icon">&#xe71d;</span>
                        <span class="share-text">Share</span>
                        <ul class="share-list">
                            <li class="iconfont-archer share-qr" data-type="qr">&#xe75b;
                                <div class="share-qrcode"></div>
                            </li>
                            <li class="iconfont-archer" data-type="weibo">&#xe619;</li>
                            <li class="iconfont-archer" data-type="qzone">&#xe62e;</li>
                            <li class="iconfont-archer" data-type="twitter">&#xe634;</li>
                            <li class="iconfont-archer" data-type="facebook">&#xe67a;</li>
                        </ul>
                    </span>
                </div>
            </div>
        <% } %>
    </div>
</div>
