<% if(is_home()) { %>
<header class="header index-header">
<% } else { %>
<header class="header">
<% } %>
  <div class="header-sidebar-menu">&#xe775;</div>
  <div class="banner">
    <div class="site-post-banner">
      <div class="blog-titles">
        <a href="<%- url_for() %>" class="blog-title">
          <%= config.title %>
        </a>
      </div>
      <% if (is_post()) { %>
      <div class="post-banner">
        <span class="post-name">
          <%- page.title %>
        </span>
      </div>
      <% } %>
    </div>
  </div>
  <a class="home-link" href=<%- config.root %>><%- config.title %></a>
</header>