<article class="post">
    <div class="post-content-box">
        <div class="post-title">
            <h2 class="title">
            <% if(_isTitleWithLink) { %>
            <a class="post-title-link" href="<%- url_for(_page.path) %>">
            <% } %>
            <%= _page.title %>
            <% if(_isTitleWithLink) { %>
            </a>
            <% } %>
            </h2>
        </div>
        <div class="date-and-tags">
            <span class="post-meta">
                <span class="post-time"><%- date(_page.date, "YYYY-MM-DD") %></span>
            </span>
            <%- partial('base-title-tags', {currPost :_page}) %>
        </div>
        <div class="post-content">
            <%- _content %>
        </div>
        <!--<div class="content-border-bottom"></div>-->
    </div>
</article>
