<% if(theme.social) { %>
    <% for (name in theme.social) { %>
        <% if (theme.social[name] !== null) { %>
            <% if (name === "email") { %>
                <a href="mailto:<%- theme.social[name] %>" class="iconfont-archer <%- name %>" title=<%- name %> ></a>
            <% } else { %>
                <a href="<%- url_for(theme.social[name]) %>" class="iconfont-archer <%- name %>" target="_blank" title="<%- name %>"></a>
            <% } %>
        <% } %>
    <% } %>
<% } %>