<header class="header header-mobile<%- is_home() ? ' index-header' : '' %>">
    <!-- top read progress line -->
    <div class="header-element">
        <div class="read-progress<%- theme.read_progress_color === 'feature' ? ' read-progress-feature' : '' %>"></div>
    </div>
    <!-- sidebar menu button -->
    <div class="header-element">
        <div class="header-sidebar-menu<%- theme.float_button_theme === 'rounded' ? ' header-sidebar-menu-rounded' : '' %>">
        <%_ if(theme.float_button_theme === 'rounded') { _%>
            <i class="fas fa-bars"></i>
        <%_ } else { _%>
            <div style="padding-left: 1px;">&#xe775;</div>
        <%_ } _%>
        </div>
    </div>
    <!-- header actions -->
    <div class="header-actions">
        <!-- theme mode switch button -->
        <span class="header-theme-btn header-element">
            <i class="fas fa-adjust"></i>
        </span>
        <!-- back to home page text -->
        <span class="home-link header-element">
            <a href="<%- config.root %>"><%- theme.main_title || config.title %></a>
        </span>
    </div>
    <!-- toggle banner -->
    <%_ if(theme.post_banner_theme === 'clean') { _%>
    <div class="banner banner-clean">
    <%_ } else { _%>
    <div class="banner">
    <%_ } _%>
        <div class="blog-title header-element">
            <a href="<%- url_for() %>"><%= theme.main_title || config.title%></a>
        </div>
        <div class="post-title header-element">
            <a href="#" class="post-name"><%- page.title %></a>
        </div>
    </div>
</header>
