<article class="post">
    <% if(_hasTitle) { %>
    <div class="post-title">
        <h2 class="title">
        <% if(_isTitleWithLink) { %>
            <% var titleURL = url_for(_page.path); %>
            <a class="post-title-link" href="<%- titleURL %>">
        <% } %>
        <%= _page.title %>
        <% if(_isTitleWithLink) { %>
            </a>
        <% } %>
        </h2>
    </div>
    <% } %>
    <div class="post-content">
        <%- _content %>
    </div>
    <% if(_hasMeta) { %>
    <div class="post-meta">
        <% if(_page.tags.length) { %>
        <%- partial('base-title-tags', {
            currPost :_page,
            className : 'post-tags'}) %>
        <% } %>
            <div class="post-date-share">
                <div class="post-date">
                    <span class="post-calander iconfont-arch"></span><span class="post-time"><%- date(_page.date, "YYYY-MM-DD") %></span>
                </div>
            <% if(_hasShare) { %>
                <%- partial('base-share') %>
            <% } %>
        </div>
    </div>
    <% } %>
</article>

