<% var titleURL = url_for(_page.path); %>
<article class="post">
    <%if (is_home()) { %>
        <a class="content-show-full" href = "<%- titleURL %>" >
    <% } %>
        <% if(_hasTitle) { %>
        <div class="post-title">
            <h2 class="title">
                <span>
                <% if(_isTitleWithLink) { %>
                    <%= _page.title %>
                <% } else { %>
                    <%= _page.title %>
                <% } %>
                </span>
            </h2>
        </div>
        <% } %>
        <div class="post-content">
            <%- _content %>
        </div>
    <%if (is_home()) { %></a><% } %>
    <% if(_hasMeta) { %>
    <div class="post-meta">
        <% if(_page.tags.length) { %>
        <%- partial('base-title-tags', {
            currPost :_page,
            className : 'post-tags'}) %>
        <% } %>
            <div class="post-date-share">
                <div class="post-date">
                    <span class="post-calander iconfont-archer"></span><span class="post-time"><%- date(_page.date, "YYYY/MM/DD") %></span>
                </div>
            <% if(_hasShare) { %>
                <%- partial('base-share') %>
            <% } %>
        </div>
    </div>
    <% } %>
</article>

