  <div class="sidebar-panel-archives">
    <!-- 在ejs中将archive按照时间排序 -->
    <% var resortAllPosts = site.posts.map(function (item) { %>
    <% let title = item.title; %>
    <% let link = url_for(item.path) ; %>
    <% let _date = date(item.date, "YYYY-MM-DD HH:MM:SS"); %>
    <% let returnDate = {
        title : title, 
        link : link,
        date : _date }; %>
    <% return returnDate; %>
    <% }) %>
    <% resortAllPosts.sort(function compare(v1, v2){ %>
    <% let result = (new Date(v1.date)) > (new Date(v2.date)); %>
    <%  return result == true ? -1 : 1; %>
    <% }) %>
    <% let showYear = NaN; %>
    <% let currPagePosts; %>
    <% let showDate = NaN; %>
    <% currPagePosts = resortAllPosts; %>
    <div class="total-and-search">
        <div class="total-archive">
        Total : <%= currPagePosts.length %>
        <!-- search  -->
        </div>
            <div class="site-search popup-trigger">
                <span class="iconfont-archer search-icon">&#xe627;</span>
            </div>
    </div>
    <% let toCloseUl = 0 %>
    <div class="post-archive">
    <% currPagePosts.forEach(function (post) { %>
    <% if (showYear != Number(date(post.date, "YYYY"))) { %>
    <% showYear = date(post.date, "YYYY"); %>
    <% if (toCloseUl === 1) { %>
    <% toCloseUl = 0; %>
        </ul>
    <% } %>
    <div class="archive-year"> <%= showYear %> </div>
    <ul class="year-list">
    <% toCloseUl = 1; %>
    <% } %>
        <li class="archive-post-item">
            <span class="archive-post-date"><%- date(post.date, "MM/DD") %></span><a class="archive-post-title" href= "<%- post.link %>" ><%- post.title || '[Untitled Post]' %></a>
        </li>
    <% }) %>
    </div>
  </div>